html, body, #root {
    height: 100%;
}

.jumbo {
    background-color: #e9ecef;
}

.longs {
    color: #3f9a28;
    /*direction: rtl;*/
}
.shorts {
    color: #9a0f07;
}

.INTRA-ROW .react-grid-Cell {
    background-color: rgba(255, 255, 0, 0.5);
}

.IPO-ROW .react-grid-Cell{
    background-color: rgba(0, 248, 0, 0.5);
}

.BANK-ROW {
}

#risk-modal-body, .table-responsive {
    overflow: visible !important;
}


.react-grid-Main,  .react-grid-Container{
    height: 100%;
}
.react-grid-Grid, .react-grid-Canvas{
min-height: 100% !important;
}

/* .react-grid-Canvas {
    overflow: visible !important;
} */

.react-grid-Cell{
    text-align: center;
}

.react-grid-HeaderCell {
    text-align: center;
    padding: 0 !important;
}
.react-grid-HeaderRow {
    overflow-x: inherit !important;
}

.react-grid-header,.react-grid-HeaderRow,.react-grid-HeaderCell, .react-grid-HeaderRow > div {
    min-height: 30px  !important;
}
.react-grid-Viewport {
    top:30px !important;
}

@media (min-width: 576px){
      .modal-dialog.max {
          max-width: 95%;
      }
}

.group-box {
    border: 1px solid #a2a2a2;
    border-radius: 3px;
}

.hover-box .hover-item {
    opacity: 0;
}
.hover-box:hover .hover-item {
    opacity: 1;
}

.slide-box .slide-item {
    opacity: 0;
}
.hover-box:hover .hover-item {
    opacity: 1;
}

.pop-box .pop-item {
    transform: scale(0,0);
    transition: 0.3s;
}

.pop-box:hover .pop-item {
    transform: scale(1,1);
    transition: 0.3s;
}

.pop-box .pop-item.minimize {
    max-width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
